/* grid.component.css */
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
    background-image: url("../../assets/h9534_rgb_cr_H.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 800px;
    height: 0;
    padding-bottom: 100%; /* This makes the container square */
    border-radius: 50%; /* This makes the container circular */
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 50%; /* Make the cells circular */
}

.grid-cell.rover {
    background-color: blue;
    color: white;
}

.grid-cell.obstacle {
    background-color: red;
    color: white;
}

.grid-cell.null {
    background-color: black;
    color: white;
}

/* Rover image styling */
.rover-image {
    width: 40px; /* Adjust size */
    height: 40px;
    position: relative;
    transform-origin: center center; /* Ensure rotation occurs around the center */
}

.N {
    transform: rotate(0deg);
}

.E {
    transform: rotate(90deg);
}

.S {
    transform: rotate(180deg);
}

.W {
    transform: rotate(270deg);
}

.opposite-side {
    filter: brightness(75%); /* Darken the image */
    opacity: 0.7; /* Make the image slightly transparent */
    border: 4px dashed red; /* Add a dashed red outline */
}
